# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. ggplot2

|Data Science Tools|
|-----------------|
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

**Objetives**  
- Python
- R
- SQL
- NoSQL
- Git/GitHub

### Below are a few examples of evaluating arithmetic expressions in Python
a = 10  
b = 20
sum = a + b  
print(sum)

a = 4  
b = 6  
c = 10  
result = (a + b) * c   
print(result)

a = 40  
b = 25  
mult = a * b   
print(mult)

a = 20  
b = 6  
div = b / a   
print(div)

In [13]:
#This is a simple arithmetic expression to multiply then add integers 
resultado = (3*4)+5
print(resultado)

17

In [16]:
#This will convert 200 minutes to hours by diving by 60 

resultado = 200/60
print(resultado)

3.3333333333333335

## Author  
Jonathan Mauricio Araque Montes